doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Autour+One', type='text/css')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
  body
    #site
      block content

    footer
        p info@blacklitlabs.com
